{% load static %}
<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mahir Solution</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
 
  <link href="{%static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'assets/css/style.css'%}" rel="stylesheet">

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html"><STRong>MAHIR SOLUTION </STRong></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto o" href="#portfolio">course Registration</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
            <h1>Mahir Solution Software Consultant</h1>
            <h2>Mahir (Excel) in Your Business with Data-Driven Solutions: Your Trusted IT Partner</h2>
        </div>
      </div>
      

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
              <h4 class="title"><a href="">Welcom</a></h4>
              <p class="description">At Mahir Solution, we are dedicated to the art and science of development. Our mission is to empower individuals and businesses by providing cutting-edge resources, insights, and solutions that drive growth in the digital landscape. </p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

      <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
        <p> <h3><strong>Our Journey:</strong>  </h3> 
          Our journey began with a passion for turning ideas into reality through code. As seasoned developers ourselves, we understand the challenges and exhilaration that come with the territory.</p>
          <p> This website emerged from our desire to create a space where developers of all levels can find inspiration, knowledge, and a supportive community. </p>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            <h3><strong>What We Offer:</strong>  </h3>
            Explore a wealth of resources tailored to developers,
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> from tutorials and guides on the latest programming languages and frameworks</li>
            <li><i class="ri-check-double-line"></i>  to deep dives into software architecture and best practices</li>
            <li><i class="ri-check-double-line"></i>Whether you're just starting your coding journey or looking to stay ahead of industry trends, you'll find something here to fuel your growth</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            <h3><strong>Meet the Team:</strong>  </h3>
            Behind the lines of code and pixels, our team is composed of passionate developers, designers, and tech enthusiasts.
             With years of combined experience, we bring diverse perspectives and expertise to the table, 
             ensuring that the content you find here is well-rounded and relevant.
          </p>
          
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

   
    <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Sevices</h2>
        </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
              </svg>
              <i class="bx bxl-dribbble"></i>
            </div>
            <h4><a href="">Software Consultant</a></h4>
            <p>Developing customized software applications that align perfectly with your business requirements. Whether you need web applications, mobile apps, enterprise software, or e-commerce solutions, we have the expertise to bring your ideas to life. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
              </svg>
              <i class="bx bx-file"></i>
            </div>
            <h4><a href="">Cloud Services</a></h4>
            <p>Providing Cloud Services to Elevate Your Business: Effortless Integration, Enhanced Efficiency, and Cost-Effectiveness </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
              </svg>
              <i class="bx bx-tachometer"></i>
            </div>
            <h4><a href="">Digital Marketing</a></h4>
            <p>Our Digital Marketing Strategies are the Key to Unlocking Your Business Potential: From Brand Visibility to Conversion Optimization.</p>
          </div>
        </div>
<!-- End Sevices Section -->

 

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
            <div class="row mt-5">
      
              <div class="col-lg-4">
                <div class="info">
                  <div class="address">
                    
                    <h4>Course Registration List:</h4>
                    <ol>
                      <li> Python Programming </li>
                      <li> Django Framework(Python)</li>
                      <li> Front End Development(HTML,CSS,JS)</li>
                    </ol>
                    <p> Note</p>
                    <p>Python Programming course are starting from 03 spetember on sunday  </p>
                    <p>Front End Development course are starting from 03 spetember on sunday  </p>
      
                  </div>
                </div>
      
              </div>
      
          <div class="col-lg-8 mt-5 mt-lg-0">
      
            <form action="{% url 'course' %}" method="post" role="form" class="">
              {% csrf_token %}
              <div class="section-title">
                <h2>Course Registration</h2>
                </div>
              
              <div class="row gy-2 gx-md-3">
                <div class="col-md-6 form-group">
                  
                  <input type="text" name="name" class="form-control"  placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group">
                  
                  <input type="text" name="fname" class="form-control"  placeholder="Father Name" required>
                </div>
                <div class="col-md-6 form-group">
                  
                  <input type="text" name="study" class="form-control"  placeholder="Current/Last Study Level" required>
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" name="subject"  placeholder="Registration Course Name" required>
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="form-control" name="date"  placeholder="Date" required>
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="form-control" name="cellno"  placeholder="Contact Number" required>
                </div>
                <div class="form-group col-12">
                  <textarea class="form-control" name="address" rows="5" placeholder="Address" required></textarea>
                </div>
                
                <div class="text-center col-12"><button type="submit">Registration</button></div>
                {{msg1}}
              </div>
            </form>
      
          </div>
      
    </section><!-- End Portfolio Section -->

    
  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Team</h2>
        </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="{%static 'assets/img/team/team-1.PNG'%}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Muhammad Imran Asghar</h4>
              <span>Chief Executive Officer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="{%static 'assets/img/team/team-2.png'%}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Wasim Abbas</h4>
              <span></span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="{%static 'assets/img/team/team-3.png'%}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Usman Aslam</h4>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="{%static 'assets/img/team/team-3.png'%}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Usman Aslam</h4>
              
            </div>
          </div>
        </div>
        

        

      </div>

    </div>
  </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= 
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="zoom-im" data-aos-delay="100">
            <div class="box">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="box featured">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>End Pricing Section -->

    
    <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        </div>

      <div>
       <!-- <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>-->
      </div>

      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Haji Park Near Be-Nazir Income Office Qadiwind Road Kasur City</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>wasirajput322@gamil.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+923226571931</p>
              <p>+923000841900</p>
              <p>+923144395971</p>
            </div>

          </div>
          
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="" method="post" role="form" class="">
            {%csrf_token%}
            <div class="row gy-2 gx-md-3">
              <div class="col-md-6 form-group">
                
                <input type="text" name="name" class="form-control"  placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email"  placeholder="Your Email" required>
              </div>
              <div class="form-group col-12">
                <input type="text" class="form-control" name="subject"  placeholder="Subject" required>
              </div>
              <div class="form-group col-12">
                <input type="text" class="form-control" name="cellno"  placeholder="contact Number" required>
              </div>
              
              <div class="form-group col-12">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              
              <div class="text-center col-12"><button type="submit">Send Message</button></div>
              {{msg}}
            </div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Mahir Solution</h3>
            <p>
              Haji park Near <br>
              Be-Nazir Income Office<br>
              Qadiwind Road Kasur City <br><br>
              <strong>Phone:</strong> 03226571931<br>
              <strong>Email:</strong> wasirajput322@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Front End Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Back End Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Full Stack Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">App Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Designing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Digital Marketig</a></li>
            </ul>
          </div>
         

        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{%static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{%static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js'%}"></script>

</body>

</html>

{% block content %}

{% endblock content %}
